@using AlloyTemplates
@model PageViewModel<AlloyTemplates.Models.Pages.StartPage>

@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth })

<h2>Link</h2>
@Html.PropertyFor(x=>x.CurrentPage.IntranetLink)
