<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0">

  <assemblies>
    <add assembly="EPiServer.Labs.LinkItemProperty" />
  </assemblies>

  <clientModule>
    <moduleDependencies>
      <add dependency="episerver-telemetry-ui" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="EPiServer.Labs.BlockEnhancements" />
    </requiredResources>
  </clientModule>

  <dojo>
    <paths>
      <add name="episerver-labs-linkitem-property" path="Scripts" />
    </paths>
 </dojo>
</module>
