@using AlloyTemplates
@using EPiServer.Labs.LinkItemProperty
@model PageViewModel<TestPage>

@{ Layout = null; }

<h1>Test page</h1>
@Html.PropertyFor(x => x.CurrentPage.Link1, new { Tag = LinkItemRendering.Tag })
